@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<br/>
<a href="/">
    <button class="btn btn-primary btn-round btn-lg btn-block mb-3">Return to home</button>
</a>