@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="wrapper wrapper-full-page ">
    <div class="full-page login-page section-image" filter-color="black" data-image="../../img/bg13.jpg">
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <form class="form" method="" action="">
                        <div class="card card-login card-plain">
                            <div class="card-header ">
                                <div class="logo-container">
                                    <img src="~/img/AFDempLogo.png" alt="">
                                </div>
                            </div>
                            <div class="card-body ">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                <div class="input-group no-border form-control-lg">
                                    <span class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </div>
                                    </span>
                                    <input asp-for="Input.Email" class="form-control" placeholder="Email">
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                <div class="input-group no-border form-control-lg">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </div>
                                    </div>
                                    <input asp-for="Input.Password" placeholder="Password" class="form-control">
                                </div>
                            </div>
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Log in</button>
                                <div class="pull-left">
                                    <h6><a href="/register" class="link footer-link">Create Account</a></h6>
                                </div>
                                <div class="pull-right">
                                    <h6><a href="#pablo" class="link footer-link">Need Help?</a></h6>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @* <!-- Footer --> *@
        <footer class="footer">
            <div class=" container-fluid ">
                <nav>
                    <ul>
                        <li>
                            <a href="/contact">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="/blog">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright" id="copyright">
                    &copy;
                    <script>
                        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                    </script>, Designed by <a href="#" target="_blank">The Curly Brackets Team</a>. For <a href="https://www.afdemp.org" target="_blank">AFDEmp</a>.
                </div>
            </div>
        </footer>
        @* <!-- End Footer --> *@
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


