@page
@model JobBuddy.Chat
@{
    ViewData["Title"] = "Job Buddy Support";
    Layout = "_layout2";
}


@section Scripts {
    <script src="~/js/index.js"></script>
}

<link rel="stylesheet" href="~/css/chat.css" />

<link href="~/css/main.css" rel="stylesheet" type="text/css" media="screen, projection">

<link rel="stylesheet" href="~/css/fonts.css" />


<div id="chatDialog" title="Chat with support" class="disconnected">
    <div id="chatWelcomePanel">
        <h3>Have a question?</h3>
        <form id="chatConnectForm">
            <input type="text" placeholder="Enter your name" />
            <button type="submit">Connect</button>
        </form>
    </div>
    <div id="chatConnectionInfo">
        <strong>Connecting...</strong>
    </div>
    <div id="chatMainPanel">
        <ul id="chatHistory"></ul>
        <div id="bottomPanel">
            <form id="chatForm">
                <input id="messageTextbox" type="text" placeholder="Type a message" />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>





